@media screen and (max-width: 760px){
  *{
    margin: 0;
  }
  body{
    background-image: url(banner_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-attachment: fixed;
    
  }
  main{
    margin-top: 34rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    position: fixed;
    
  }
  .text1{
    color: white;
    font-family:Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 1rem;
    margin-right: 0;
  }
  .text2{
    color: white;
    font-family:Montserrat;
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin-right: 0;

  }
  strong{
    color: #01FF1A;
  }
  form{
    
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left:6rem;
  }
  input{
    margin-top: 0.5rem;
    padding:0.5rem ;
    border-radius: 2rem;
  }
  input[type="submit"]{
    background-color: #01FF1A;
    color: white;
    font-family:Montserrat;
    font-size: bold 18px;
    font-weight: 700;
  }
  input[type="submit"]:hover{
    cursor: pointer;
  }
}

